/* nav */

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  height: 60px;
  align-items: center;
}

.side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4px 0 10px;
}

.left {
  margin: 0 5px;
  padding: 0 5px;
}

.left__link {
  padding: 5px 10px;
  color: #202124;
  font-size: 14px;
}

.right__link {
  padding: 5px 15px 5px 0px;
  color: #000000DE;
  font-size: 13px;
  line-height: 24px;
}

.right__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 8px;
}

.apps {
  padding: 4px;
  width: 32px;
  height: 32px;
  color: #5f6368;
}

.avatar {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
}

/* body */

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-top: 61.6px;
  width: 272px;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4px;
  padding: 5px 8px 0 8px;
  width: 584px;
  height: 46px;
  border: 1px solid #DFE1E5;
  border-radius: 24px;
}

.search__left {
  padding: 0 6px;
  color: #9AA0A6;
  font-size: 20px;
  margin-bottom: 2px;
}

.search__input {
  flex: 1;
  height: 34px;
  font-size: 16px;
}

.search__right {
  padding: 0 8px;
  color: #9AA0A6;
  font-size: 24px;
}