/* main */

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial;
}

/* nav */

.main__nav {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  height: 60px;
  align-items: center;
}

.main__nav__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4px 0 10px;
}

.main__left__link {
  padding: 5px 10px;
  color: #202124;
  font-size: 14px;
}

.main__right__link {
  padding: 5px 15px 5px 0px;
  color: #000000DE;
  font-size: 13px;
  line-height: 24px;
}

.main__nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
}

.main__nav__button:hover {
  background-color: rgba(60, 64, 67, .08);
}

.main__nav__apps {
  padding: 4px;
  width: 32px;
  height: 32px;
  color: #5f6368;
}

.main__nav__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* body */

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__body__logo {
  padding-top: 61.6px;
  width: 272px;
}

.main__search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.main__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4px;
  padding: 5px 8px 0 8px;
  width: 584px;
  height: 46px;
  border: 1px solid #DFE1E5;
  border-radius: 24px;
}

.main__search:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.main__search__left {
  margin: 0 6px;
  color: #9AA0A6;
  font-size: 20px;
  margin-bottom: 8px;
}

.main__search__input {
  padding: 0 0 7px 7px;
  flex: 1;
  height: 34px;
  font-size: 16px;
}

.main__search__close {
  display: flex;
  margin: 0 4px 5px 0;
  padding: 2px 12px;
  color: #70757A;
  font-size: 24px;
  border-right: 1px solid #DADCE0;
}

.main__search__right {
  padding: 0 8px;
  color: #9AA0A6;
  font-size: 24px;
}

.main__buttons__search,
.main__buttons__feeling {
  margin: 8px 6px;
  padding: 0 17px;
  height: 36px;
  background-color: #F8F9FA;
  color: #3C4043;
  border: 1px solid #F8F9FA;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.main__buttons__search:hover,
.main__buttons__feeling:hover {
  color: #202124;
  border: 1px solid #DADCE0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* space */

.main__space {
  flex-grow: 1;
  flex-shrink: 0;
}

/* footer */

.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: #f2f2f2;
}

.main__footer__left,
.main__footer__middle,
.main__footer__right {
  display: flex;
  min-width: 30%;
}

.main__footer__left {
  justify-content: flex-start;
  order: 1;
}

.main__footer__middle {
  order: 2;
  justify-content: center;
}

.main__footer__right {
  justify-content: flex-end;
  order: 3;
}

.main__footer__link {
  padding: 15px;
  color: #70757A;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .main__footer {
    justify-content: space-evenly;
  }

  .main__footer__middle {
    order: 0;
    height: 48px;
    width: 100%;
  }
}